

.image {
  width: 100%;

  object-fit: contain;
}

.construction{
  display:flex;
  flex-direction:column;
  height:100vh;
  color:black;
  background-color:white;
  font-size:4rem;
  text-align:center;
  justify-content:center;
}


